Checks: "-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  misc-*,
  -misc-no-recursion,
  performance-*,
  -performance-avoid-endl
  portability-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-magic-numbers,
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  llvm-*,
  -llvm-include-order,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index
"

CheckOptions:
  - key:   readability-function-cognitive-complexity.IgnoreMacros
    value: true
