[submodule "external/glm"]
	path = GUI/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/stb"]
	path = GUI/external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/assimp"]
	path = GUI/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/glfw"]
	path = GUI/external/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "GUI/external/imgui"]
	path = GUI/external/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
