# Editors
.vscode/
.cache/
.idea/

# Build
compile_flags.txt
build/
.build/
result

# Binaries
/include
/lib64
/lib
/zappy_server
/zappy_gui
/zappy_ai
/asan
/prof
bin/

# Python
build/*
note.txt
test.py
zappy_ref*/*
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
