Final_metallicRoughness.png filter=lfs diff=lfs merge=lfs -text
V_04_baseColor.png filter=lfs diff=lfs merge=lfs -text
Gonstre_Col.png filter=lfs diff=lfs merge=lfs -text
V_01_occlusionRoughnessMetallic.png filter=lfs diff=lfs merge=lfs -text
V_02_normal.png filter=lfs diff=lfs merge=lfs -text
V_03_baseColor.png filter=lfs diff=lfs merge=lfs -text
V_03_occlusionRoughnessMetallic.png filter=lfs diff=lfs merge=lfs -text
V_04_occlusionRoughnessMetallic.png filter=lfs diff=lfs merge=lfs -text
V_05_occlusionRoughnessMetallic.png filter=lfs diff=lfs merge=lfs -text
V_06_baseColor.png filter=lfs diff=lfs merge=lfs -text
V_06_normal.png filter=lfs diff=lfs merge=lfs -text
V_06_occlusionRoughnessMetallic.png filter=lfs diff=lfs merge=lfs -text
Final_normal.png filter=lfs diff=lfs merge=lfs -text
V_01_baseColor.png filter=lfs diff=lfs merge=lfs -text
V_02_baseColor.png filter=lfs diff=lfs merge=lfs -text
V_02_occlusionRoughnessMetallic.png filter=lfs diff=lfs merge=lfs -text
V_03_normal.png filter=lfs diff=lfs merge=lfs -text
V_04_normal.png filter=lfs diff=lfs merge=lfs -text
Final_baseColor.png filter=lfs diff=lfs merge=lfs -text
V_01_normal.png filter=lfs diff=lfs merge=lfs -text
V_05_baseColor.png filter=lfs diff=lfs merge=lfs -text
V_05_normal.png filter=lfs diff=lfs merge=lfs -text
