seaside_rock_nor_gl_4k.png filter=lfs diff=lfs merge=lfs -text
tile_col.png filter=lfs diff=lfs merge=lfs -text
marble_0012_normal_opengl_2k.png filter=lfs diff=lfs merge=lfs -text
marble_0012_roughness_2k.png filter=lfs diff=lfs merge=lfs -text
seaside_rock_disp_4k.png filter=lfs diff=lfs merge=lfs -text
rock_2_diff_4k.png filter=lfs diff=lfs merge=lfs -text
rock_2_nor_gl_4k.png filter=lfs diff=lfs merge=lfs -text
rock_2_rough_4k.png filter=lfs diff=lfs merge=lfs -text
QuartziteDenali002_COL_8K_METALNESS.png filter=lfs diff=lfs merge=lfs -text
QuartziteDenali002_NRM_8K_METALNESS.png filter=lfs diff=lfs merge=lfs -text
Ring[[:space:]]texture.png filter=lfs diff=lfs merge=lfs -text
tile.obj filter=lfs diff=lfs merge=lfs -text
whiteRock.obj filter=lfs diff=lfs merge=lfs -text
broadcast.obj filter=lfs diff=lfs merge=lfs -text
cone.obj filter=lfs diff=lfs merge=lfs -text
cube.obj filter=lfs diff=lfs merge=lfs -text
greyRock.obj filter=lfs diff=lfs merge=lfs -text
broadcast.mtl filter=lfs diff=lfs merge=lfs -text
greyRock.mtl filter=lfs diff=lfs merge=lfs -text
tile.mtl filter=lfs diff=lfs merge=lfs -text
whiteRock.mtl filter=lfs diff=lfs merge=lfs -text
greyRock.bin filter=lfs diff=lfs merge=lfs -text
whiteRock.bin filter=lfs diff=lfs merge=lfs -text
greyRock.glb filter=lfs diff=lfs merge=lfs -text
skybox.hdr filter=lfs diff=lfs merge=lfs -text
